<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <nav>
        <ul>
            <a href="/Dashboard/Add_Note">Add note</a>
            <a href="/Dashboard/Build_Team">Build your team</a>
            <a href="/Dashboard/Your_Teams">See your teams</a>
            <a href="/Dashboard/Chatrooms">Chatrooms</a>
        </ul>
        
    </nav>
</body>
</html>